@import url("../0-Globals/mixins.scss");
@import url("../0-Globals/variables.scss");
.main__section-title {
  margin: 80px 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__section-title h2 {
  margin: 0 0 20px 0;
  font-size: 3rem;
}

.main__section-title hr {
  margin: 0 0 15px 0;
  border: none;
  background: #42b186;
  height: 5px;
  width: 80px;
}

.main__section-title p {
  font-size: 1.2rem;
  text-align: center;
  color: #555;
}

#main__benefits {
  margin: 20vh 0;
}

#benefits__features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  background: #fff;
  border: 0.5px solid #d6d6d650;
  padding: 20px;
}

.features-container div {
  width: 30%;
  height: 150px;
  margin: 20px 0;
}

.features-container div img {
  width: 100%;
  height: 100%;
}

.features-container h3 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #111;
}

.features-container p {
  text-align: center;
}

@media only screen and (max-device-width: 1000px) {
  .main__section-title {
    width: 80%;
    margin: 10vh auto;
  }
  .main__section-title h2 {
    font-size: 4rem;
  }
  .main__section-title hr {
    height: 7px;
    width: 80px;
  }
  .main__section-title p {
    font-size: 1.5rem;
  }
  .features-container {
    width: 400px;
    padding: 20px;
  }
  .features-container div {
    width: 30%;
    height: 150px;
    margin: 20px 0;
  }
  .features-container div img {
    width: 100%;
    height: 100%;
  }
  .features-container h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: #111;
  }
  .features-container p {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media only screen and (max-device-width: 800px) {
  .features-container:nth-child(odd) {
    display: none;
  }
}

@media only screen and (max-device-width: 700px) {
  .main__section-title {
    margin: 80px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__section-title h2 {
    font-size: 3rem;
  }
  .main__section-title hr {
    height: 5px;
  }
  .main__section-title p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=benefits.css.map */