@import url("../0-Globals/mixins.scss");
@import url("../0-Globals/variables.scss");
#main__sub-callToAction {
  background: url("../../images/subHero.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 65vh;
  margin: 20vh 0;
}

#main__sub-callToAction #sub-callToAction-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: #111111ab;
}

#main__sub-callToAction #sub-callToAction-overlay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#main__sub-callToAction #sub-callToAction-overlay div h3 {
  color: #42b186;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

#main__sub-callToAction #sub-callToAction-overlay div h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  margin: 5px 0;
}

#main__sub-callToAction #sub-callToAction-overlay div section {
  margin: 30px 0 0;
  padding: 20px 40px;
  background: #42b186;
  border-radius: 0.3rem;
  -webkit-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

#main__sub-callToAction #sub-callToAction-overlay div section:hover {
  cursor: pointer;
  background: #3b9975;
}

#main__sub-callToAction #sub-callToAction-overlay div section a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-device-width: 1000px) {
  #main__sub-callToAction #sub-callToAction-overlay div {
    width: 90%;
  }
  #main__sub-callToAction #sub-callToAction-overlay div h3 {
    text-align: center;
    font-size: 3rem;
  }
  #main__sub-callToAction #sub-callToAction-overlay div h2 {
    text-align: center;
    font-size: 3rem;
  }
  #main__sub-callToAction #sub-callToAction-overlay div section a {
    font-size: 1.7rem;
  }
}

@media only screen and (max-device-width: 840px) {
  #main__sub-callToAction #sub-callToAction-overlay div {
    width: 90%;
  }
  #main__sub-callToAction #sub-callToAction-overlay div h3 {
    font-size: 2.5rem;
  }
  #main__sub-callToAction #sub-callToAction-overlay div h2 {
    font-size: 2.5rem;
  }
  #main__sub-callToAction #sub-callToAction-overlay div section {
    padding: 20px 30px;
  }
  #main__sub-callToAction #sub-callToAction-overlay div section a {
    font-size: 1.2rem;
  }
}

@media only screen and (max-device-width: 627px) {
  #main__sub-callToAction #sub-callToAction-overlay div {
    width: 90%;
  }
  #main__sub-callToAction #sub-callToAction-overlay div h3 {
    font-size: 2rem;
  }
  #main__sub-callToAction #sub-callToAction-overlay div h2 {
    font-size: 2rem;
  }
  #main__sub-callToAction #sub-callToAction-overlay div section {
    padding: 15px 30px;
  }
  #main__sub-callToAction #sub-callToAction-overlay div section a {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=sub-callToAction.css.map */